*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 1.75em;
    text-align: center;
    margin: 40px;
}
.col-lg-4, .col-md-6-1, .col-md-6-2, .col-sm-12{
    background-color: #95a5a6;
    border: 1px solid black;
    position: relative;
}
.food1, .food2, .food3{
    text-align: right;
    border: 1px solid black;
    width: 140px;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    right: 0;
    top: 0;
}
.food1 {
    background-color: coral;
}
.food2 {
    background-color: crimson;
}
.food3 {
    background-color: darkseagreen;
}
p{
    padding: 15px;
    margin-top: 20px;
}
@media (min-width: 992px){
    .col-lg-4{
        float: left;
        width: 30%;
        margin-left: 2.5%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6-1{
        float: left;
        width: 45%;
        margin-left: 3.33%;
        margin-bottom: 15px;
    }
    .col-md-6-2{
        float: left;
        width: 93.33%;
        margin-left: 3.33%;
        margin-top: 15px;
    }
}
@media (max-width: 767px){
    .col-sm-12{
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 15px;
    }
}


